<%= form_tag("/passwordchanging") do %>
  <div class="field">
    <p>Nýtt lykilorð</p>
	<%= password_field_tag(:password) %>
  </div>

  <div class="actions">
	<%= submit_tag("Breyta lykilorði") %>
  </div>
<% end %>
