<div class="new-parent">
    <div class="parent-inner">
        <h4>Skilafrestur var til 20.maí, 23:59</h4>
        <p>Þökkum þáttökuna</p>
        <br>
        <hr>
        <br>
        <h4>The deadline for submissions was for May 20th, 23:59</h4>
        <p>Thanks for participating</p>
    </div>
</div>
