<div class="new-parent">
    <div class="parent-inner">
        <div class="myndform">
        <h1>Submit photo</h1>
	<p>A sample photo will appear down below for confirmation <u>but not full size</u></p>
	<p>When your photo has been uploaded you will be redirected to a page which shows your submission</p>
	<p>If you want to look at your submission again at a later time then copy the URL from your browser which will be on the form https://astrokeppni.com/image/1234/your@email.com</p>
	<p>If an error occurs or if you need to contact the webmaster for another reason, you can send an email to <a href="mailto:steinerinn@gmail.com">steinerinn@gmail.com</a></p>
        <%= render 'form_en', post: @post %>
        <img id="prev-img" src="#" alt="" />
        </div>
    </div>
</div>
